name: Trigger CI/CD in workflow-platform

on:
  push:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow-platform pipeline
        run: |
          SERVICE_NAME="${GITHUB_REPOSITORY##*/}"
          SERVICE_TYPE="java"
          ENVIRONMENT="${{ github.ref_name }}"

          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITOPS_TOKEN }}" \
            https://api.github.com/repos/syntaxnow-labs/workflow-platform/dispatches \
            -d "{
              \"event_type\": \"service-update\",
              \"client_payload\": {
                \"service\": \"$SERVICE_NAME\",
                \"service_type\": \"$SERVICE_TYPE\",
                \"branch\": \"$ENVIRONMENT\",
                \"environment\": \"$ENVIRONMENT\"
              }
            }"
